
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Layout/SecondLayout.cshtml";
}

<h1> confirmForgetPassword</h1>


<form asp-controller="Account" asp-action="ForgetPassword">

                    <div asp-validation-summary="All" class="text-danger"></div>



                    <div class="msg">
                       please check your email inbox...
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-line">
                            <input type="email" class="form-control"  placeholder="Email" autofocus>
                            <span  class="text-danger"></span>
                        </div>
                    </div>
                    <!--asp-for="Email"   asp-validation-for="Email"-->
                    <input type="submit" value="RESET MY PASSWORD" class="btn btn-block btn-lg bg-pink waves-effect" />

                    <div class="row m-t-20 m-b--5 align-center">
                        <a asp-controller="Account" asp-action="Login">Sign In!</a>
                    </div>
                </form>

 <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script> 
