
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Layout/SecondLayout.cshtml";
}

<h1>ForgetPassword</h1>


<form asp-controller="Account" asp-action="ForgetPassword">

                    <div asp-validation-summary="All" class="text-danger"></div>



                    <div class="msg">
                       password has been reseted successfuly, please login again 
                   
                    </div>
                  

                    <div class="row m-t-20 m-b--5 align-center">
                        <a asp-controller="Account" asp-action="Login">Sign In!</a>
                    </div>
                </form>

 <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script> 
