@model ForgetPasswordVM
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Layout/SecondLayout.cshtml";
}

<h1 id="a8" >ForgetPassword</h1>

<div  class="container">
    <div  class="col-lg-7">

        <div id="b5" class="card border-0">
        <div class="card-header bg-secondary text-center p-4">
            <h1 class="text-white m-0">ForgetPassword</h1>
        </div>
        <div class="card-body rounded-bottom bg-primary p-5">
<form asp-controller="Account" asp-action="ForgetPassword">

                    <div asp-validation-summary="All" class="text-danger"></div>



                    <div class="msg">
                        Enter your email address that you used to register.
                        <br />
                        We'll send you an email with your username and a
                        link to reset your password.
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-line">
                            <input type="email" class="form-control"   asp-for="Email"    placeholder="Email" autofocus>
                            <span asp-validation-for="Email"  class="text-danger"></span>
                        </div>
                    </div>
                    <!--asp-for="Email"   asp-validation-for="Email"-->
                    <input type="submit" value="RESET MY PASSWORD" class="btn btn-block btn-lg bg-pink waves-effect" />

                    <div class="row m-t-20 m-b--5 align-center">
                        <a asp-controller="Account" asp-action="Login">Sign In!</a>
                    </div>
                </form>
       </div>
       </div>
       </div>
       </div>
 <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script> 
