@model ForgetPasswordVM
@{
   ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Layout/SecondLayout.cshtml";
}


<div id="forgett" class="forget pt-5 pb-5 d-flex justify-content-center ">

    <div class="col-6">
            <div class=" card border-0  ">
        <div class="card-header bg-secondary text-center p-4">
            <h1 class="text-white m-0">ForgetPassword</h1>
        </div>
        <div class="card-body rounded-bottom bg-primary p-5">
      <form asp-controller="Account" asp-action="ForgetPassword">

                    <div asp-validation-summary="All" class="text-danger "></div>
                    <div class="text-light msg text-center mb-3">
                        Enter your email address that you used to register.
                        <br />
                        We'll send you an email with your username and a
                        link to reset your password.
                    </div>
                        <div class="input-group mt-lg-5 ">
                        <span class="input-group-addon">
                            <i class="material-icons text-light  mr-2 ">Email</i>
                        </span>
                        <div class="form-line">
                            <input type="email" class="form-control  mb-lg-5"   asp-for="Email"    placeholder="Email" autofocus>
                            <span asp-validation-for="Email"  class="text-danger"></span>
                        </div>
                    </div>
                    <!--asp-for="Email"   asp-validation-for="Email"-->
                    <input type="submit" value="RESET MY PASSWORD" class="btn btn-block btn-lg bg-pink waves-effect text-dark" />

                    <div class=" text-center align-center  ">
                            <a class="text-muted text-dark " asp-controller="Acount" asp-action="Login">Sign In!</a>
                    </div>
                </form>
       </div>
       </div>
       </div>
      </div>

 <script src="~/plugins/jquery/jquery.min.js"></script>
  <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
 <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script> 
