@model RegistrationVM
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Layout/SecondLayout.cshtml";
}

<h1 class="pt-5 pb-5 text-center">Register as parent or kid</h1>

    <div class="container-fluid py-5 ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-5 mb-lg-0">
                    <h2 class="mb-4">
                        I'm a Parent
                    </h2>
                    <h5>"I want a great experience for my kids"</h5>

                    <img class="list-inline m-0" src="~/img/1.jpg">
                    <a asp-controller="Acount" asp-action="RegistrationParent" class="btn btn-secondary btn-block border-0 py-3" >Register  A Parent  Account</a>

                </div>
            <div class="col-lg-5">

               
                    <h2 class="mb-4">
                        I'm a Kid
                    </h2>
                    <h5>"I want to have fun and learn coding"</h5>


                    <img class="list-inline m-0" src="~/img/55.jpg">
                    <a asp-controller="Acount" asp-action="RegistrationKids"  class="btn btn-secondary btn-block border-0 py-3" >Register  A Kid Account</a>

                </div>

            </div>
        </div>
    </div>


    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


