@model ResetPasswordVM
@{
    ViewBag.Title = "Code Kids";
    Layout = "~/Views/Layout/SecondLayout.cshtml";
}

<h1 id="b1">ResetPassword</h1>
<div id="big">
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-5 mb-lg-0">
                    <h2 class="mb-4">
                        I'm a Parent
                    </h2>
                    <h5>"I want a great experience for my kids"</h5>

                    <img class="list-inline m-0" src="~/img/1.jpg">
                    <button class="btn btn-secondary btn-block border-0 py-3" type="button">Register  A FREE Account</button>

                </div>
                <div class="col-lg-5">

                    <h2 class="mb-4">
                        I'm a Kid
                    </h2>
                    <h5>"I want to have fun and learn coding"</h5>


                    <img class="list-inline m-0" src="~/img/55.jpg">
                    <button class="btn btn-secondary btn-block border-0 py-3" type="button">Register  A FREE Account</button>

                </div>

            </div>
        </div>
    </div>
</div>
<div >

  <form asp-controller="Account" asp-action="ResetPassword">
                    <div class="msg">Reset Password</div>


                    <div asp-validation-summary="All" class="text-danger"></div>

                   
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                              </span>
                        <div class="form-line">
                            <input type="password" class="form-control"  asp-for="Password"  placeholder="Password" autofocus>
                            <span   asp-validation-for="Password" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password">
                            <span  asp-validation-for="ConfirmPassword"   class="text-danger"></span>

                        </div>
                    </div>
                    <!-- 
                    <div class="form-group">
                        <input type="checkbox"  class="filled-in chk-col-pink">
                        <label >I read and agree to the <a href="javascript:void(0);">terms of usage</a>.</label>
                    </div>-->
                         <input type="submit" value="reset" class="btn btn-block btn-lg bg-pink waves-effect" />

                    <div class="m-t-25 m-b--5 align-center">
                        <a asp-controller="Account" asp-action="Login"> sign in ?</a>
                    </div>
                </form>

</div>


    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


