
@{
    ViewBag.title ="Code Kids";
    Layout = "~/Views/Layout/ThreeLayout.cshtml";
}

<div class="container-fluid bg-primary mb-5">

    <div class="d-flex flex-column align-items-center justify-content-center"
         style="min-height: 400px">
        <h3 class="display-3 font-weight-bold text-white">Chat</h3>

        <img class="justify-content-center" width="180px" src="~/img/2725696.png" alt="Chat">


        </div>
    </div>
