
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/ThreeLayout.cshtml";
}



<!-- Class Start -->
<div id="homestudent">
    <h1 class="pt-5 pb-5 text-center"> Hello </h1>
    <p class="pt-3 pb-3 text-center"></p>
    <!-- Blog Courses -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <p class="section-title px-5">
                    <span class="px-2">Our Courses</span>
                </p>
                <h1 class="mb-4">
                    Courses for Your Kids
                </h1>
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 mb-4">
                    <div class="card border-0 shadow-sm mb-2">
                        <img class="card-img-top mb-2" src="~/img//83.jpg" alt="" />
                        <div class="card-body bg-light text-center p-4">
                            <h4 class="">Intro Basics of programming </h4>
                            <div class="d-flex justify-content-center mb-3">
                                <h3>Age:5-18</h3>
                            </div>
                            <p id="text">

                                In this intro to coding for kids,
                                we are going to explain why it’s a great time to get into computer science,
                                as well as some of the best options for getting started.
                                knowledge of computers and digital technology...
                            </p>
                            <a href="" class="btn btn-primary px-4 mx-auto my-2">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card border-0 shadow-sm mb-2">
                        <img class="card-img-top mb-2" src="~/img/ScratchCourseFinal.png" alt="" />
                        <div class="card-body bg-light text-center p-4">
                            <h4 class=""> Intro to Scratch Coding</h4>
                            <div class="d-flex justify-content-center mb-3">
                                <h3>Age:5-12</h3>
                            </div>
                            <p id="text">
                                In this Scratch class,
                                learn the basics of how to use the Scratch block-coding interface live online with an awesome teacher.
                                Enjoy programs created by other students, and work together to build a fun game of your own....
                            </p>
                            <a href="" class="btn btn-primary px-4 mx-auto my-2">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card border-0 shadow-sm mb-2">
                        <img class="card-img-top mb-2" src="~/img//python-programming-language.png" alt="" />
                        <div class="card-body bg-light text-center p-4">
                            <h4 class=""> Intro to Python Coding</h4>
                            <div class="d-flex justify-content-center mb-3">
                                <h3>Age:14-18</h3>
                            </div>
                            <p id="text">

                                Python for AI class and gain experience in this essential
                                and it is also used for web development, game development, building apps, machine learning,
                                This live online class covers not only the basics of Python coding..

                            </p>
                            <a href="" class="btn btn-primary px-4 mx-auto my-2">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->
</div>
<!-- Class End -->
