
@{
    ViewBag.Title = "CodeKids";
    Layout = "~/Views/Layout/ThreeLayout.cshtml";
}

<h1 id="acount" class="pt-5 font-weight-bold ">Account informantion</h1>
<div id="ccontiner">
    <div id="left">
        <h1 class=" text-primary text-center">Profile</h1>
        <div id="imgprofile" class="">
            <img width="180px" src="~/img/668205.png" alt="user image">
            <div class="d-flex justify-content-lg-center ">
                <a class="text-dark  font-weight-bold ">Edit</a>
            </div>
        </div>
        <div id="bottom">
            <form>
                <h3 class="text-primary pb-3">Basic Info</h3>
                <label class="font-weight-bold text-dark  ">Email</label>
                <input class="mb-4" type="email" />
                <label class="font-weight-bold text-dark">User Name</label>
                <input class="mb-4" type="text" />
                <label class="font-weight-bold text-dark">Age</label>
                <input class="mb-4" type="number" />
                <label class=" font-weight-bold text-dark ">Birthday</label>
                <input class="mb-4" type="date" />
                <label class="font-weight-bold text-dark">Parent</label>
                <input class="mb-4" type="text" />
            </form>
        </div>

    </div>

    <div id="right">
        <div id="big">
            <h2 class="text-primary d-flex flex-column  p-4">Points</h2>
          
            <div id="point" class=" ">

            <img class=" mt-4 p-5 float-md-right" width="50% " src="~/img/560216.png" alt="points">
            </div>
        </div>
        <div id="small">
            <h3 class="text-primary p-4">Courses</h3>
        </div>
    </div>


</div>

