:root {
    --sectationcolour: #ffc107;
}




/* Start Home*/
#head {
    height: 800px;
}


/*End Home*/


#a3{
    border-radius:50%;
    
}
#a4{
    margin:20px;
}

#a6{
    margin-left:90px;
}
#a7{
    margin-left: 90px;
}


#a10 {
    margin-top: 20px;
}
#b1{
    padding:30px;
    text-align:center;
}
#b3 {
    margin-top:35px;
    font-size: 27px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom:90px;
}
/*Start About*/
#text{
    font-size:19px;
}
/*End About */
#b5{
    margin-right:140px;
}
#b6{
    width:600px;
    height:800px;
    margin-left:250px;
}
/*Start Login*/
#txt{
    color:#fff;
    font-size:40px;
}
/*End Login*/
/*Start Forget*/
#forgett {
    width: 100%;
    height: 100%;
}
/*End Forget*/


