#a1{
    height:600px;
}
#a2{
    padding: 50px;
}
#a3{
    border-radius:50%;
    
}
#a4{
    margin:20px;
}
#a5 {
    margin-top: 60px ;
    margin-right:150px !important ;
    margin-bottom: 60px;
}
#a6{
    margin-left:90px;
}
#a7{
    margin-left: 90px;
}
#a8{
   
}
#big{}
#a10 {
    margin-top: 20px;
}
#b1{
    padding:30px;
    text-align:center;
}