#a1{
    height:800px;
}
#a2{
    padding: 50px;
}
#a3{
    border-radius:50%;
    
}
#a4{
    margin:20px;
}
#a5 {
    margin-top: 60px ;
    margin-right:140px !important ;
    margin-bottom: 60px;
}
#a6{
    margin-left:90px;
}
#a7{
    margin-left: 90px;
}
#a8{
   text-align:center;
   padding:60px;

}
#big{}
#a10 {
    margin-top: 20px;
}
#b1{
    padding:30px;
    text-align:center;
}
#b3 {
    margin-top:35px;
    font-size: 27px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom:90px;
}
#b4{
    font-size:19px;
}
#b5{
    margin-right:140px;
}
#b6{
    width:600px;
    height:800px;
    margin-left:250;
}