
@{
  ViewBag.Title = "about";
}

<h1 class="pt-5 pb-5 text-center" > Platform details </h1>
<div class="container pb-3  pt-3 pb-5 ">
    <p id="text">
        Coding is an invaluable skill to have in your pocket because it increases your confidence and invokes you to practice skills like problem-solving, learning, and creativity.
        The magnificent part about coding is anyone can learn to code! There are even free live coding classes your child can take to build their interest in coding. If you’re interested in how you can get your child started with creating unique computer programs, continue reading to discover helpful resources on coding . Unlock your child’s potential to create something awesome for tomorrow’s world! </p>
</div>
<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-5 mb-lg-0"
                     src="img/home-page-9-images-768x768.png"
                     alt="" />
            </div>
            <div class="col-lg-7">
                <p class="section-title pr-5">
                    <span class="pr-2">for CodeKids </span>
                </p>
                <h1 class="mb-4">Best CodeKids For Your Kids</h1>
                <p id="text">
                    Start building a new generation of creative and analytical thinkers
                    Computer Science instruction in the classroom is not enough these days. Given programming or coding has become quite demanding in the current scenario, many parents have started looking for online resources to teach their child coding virtually.
In this blog, you will be able to track the ultimate guide on how to teach your child coding through various online platforms, the definition of coding, why coding is necessary, and many more things. The below table of contents will guide you thoroughly to each segment.
                </p>
                <div class="row pt-2 pb-4">
                    <div class="col-6 col-md-4">
                        <img class="img-fluid rounded" src="img/header1.png" alt="" />
                    </div>
                    <div class="col-6 col-md-8">
                        <ul class="list-inline m-0">
                            <li class="py-2 border-top border-bottom">
                                <i class="fa fa-check text-primary mr-3"></i>
                                Empower your students' with decisive life skills.
                            </li>
                            <li class="py-2 border-bottom">
                                <i class="fa fa-check text-primary mr-3"></i>
                                Increase their observation and problem-solving abilities.
                            </li>
                            <li class="py-2 border-bottom">
                                <i class="fa fa-check text-primary mr-3"></i>
                                Prepare them for a technology-driven future with essential knowledge.
                            </li>
                        </ul>
                    </div>
                </div>
                <a href="" class="btn btn-primary mt-2 py-2 px-4">Learn More</a>
            </div>
        </div>
    </div>
</div>




<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-5 mb-lg-0"
                     src="img/istockphoto-1288103838-170667a.jpg"
                     alt="" />
            </div>
            <div class="col-lg-7">
                <p class="section-title pr-5">
                    <span class="pr-2">for kids and teacher</span>
                </p>
                <h1 class="mb-4">Best teachers For Your Kids</h1>
                <p id="text">
                    Online Computer Programming tutors
                    Start to learn to code and learn programming with affordable private lessons with qualified tutors.
                    Our Computer Programming teachers are ready to get you started.
                </p>
                <div class="row pt-2 pb-4">
                    <div class="col-6 col-md-4">
                        <img class="img-fluid rounded" src="img/images (2).jpg" alt="" />
                    </div>
                    <div class="col-6 col-md-8">
                        <ul class="list-inline m-0">
                            <li class="py-2 border-top border-bottom">
                                <i class="fa fa-check text-primary mr-3"></i>
                                Watch their creativity and achievements.
                            </li>
                            <li class="py-2 border-bottom">
                                <i class="fa fa-check text-primary mr-3"></i>
                                Witness the development of their character.




                            </li>
                            <li class="py-2 border-bottom">
                                <i class="fa fa-check text-primary mr-3"></i>
                                Enjoy the progress of their growth
                            </li>
                        </ul>
                    </div>
                </div>
                <a href="" class="btn btn-primary mt-2 py-2 px-4">Learn More</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-5 mb-lg-0"
                     src="img/istockphoto-1218841109-612x612.jpg"
                     alt="" />
            </div>
            <div class="col-lg-7">
                <p class="section-title pr-5">
                    <span class="pr-2">For All</span>
                </p>
                <h1 class="mb-4">Best courses For Your Kids</h1>
                <p id="text">
                    Here at  Code kids , we make the learning process fun by ensuring that your student finds the best level and class suited to their interests. We have award-winning courses on Scratch, website design,  and more that teach coding skills as well as problem solving and creativity! Your child is guaranteed to receive the best instruction from experienced teachers.
                    Students are to think critically and use their creativity in the classroom.
                    Code kids  offers numerous courses,
                    Helping your child learn to code can be fun, but it can also be overwhelming to know where to begin. Before you begin teaching your child coding, identify the right language for them to start.
                </p>
                <div class="row pt-2 pb-4">
                    <div class="col-6 col-md-4">
                        <img class="img-fluid rounded" src="img/f119e2d9c7bfcb179b549f6dcdd9851e.jpg" alt="" />
                    </div>
                    <div class="col-6 col-md-8">
                        <ul class="list-inline m-0">
                            <li class="py-2 border-top border-bottom">
                                <i class="fa fa-check text-primary mr-3"></i>
                                Watch their creativity and achievements.
                            </li>
                            <li class="py-2 border-bottom">
                                <i class="fa fa-check text-primary mr-3"></i>
                                Witness the development of their character.




                            </li>
                            <li class="py-2 border-bottom">
                                <i class="fa fa-check text-primary mr-3"></i>
                                Enjoy the progress of their growth
                            </li>
                        </ul>
                    </div>
                </div>
                <a href="" class="btn btn-primary mt-2 py-2 px-4">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!-- Blog Courses --> 
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5">
                <span class="px-2">Our Courses</span>
            </p>
            <h1 class="mb-4">
                Courses for Your Kids </h1>
        </div>
        <div class="row pb-3">
            <div class="col-lg-4 mb-4">
                <div class="card border-0 shadow-sm mb-2">
                    <img class="card-img-top mb-2" src="img/83.jpg" alt="" />
                    <div class="card-body bg-light text-center p-4">
                        <h4 class="">Intro Basics of programming </h4>
                        <div class="d-flex justify-content-center mb-3">
                            <h3>Age:5-18</h3> 
                        </div>
                        <p id="text">
                            
                            In this intro to coding for kids, 
                            we are going to explain why it’s a great time to get into computer science, 
                            as well as some of the best options for getting started. 
                            knowledge of computers and digital technology...
                        </p>
                        <a href="" class="btn btn-primary px-4 mx-auto my-2">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card border-0 shadow-sm mb-2">
                    <img class="card-img-top mb-2" src="img/ScratchCourseFinal.png" alt="" />
                    <div class="card-body bg-light text-center p-4">
                        <h4 class=""> Intro to Scratch Coding</h4>
                        <div class="d-flex justify-content-center mb-3">
                            <h3>Age:5-12</h3>
                        </div>
                        <p id="text">
                            In this Scratch class, 
                            learn the basics of how to use the Scratch block-coding interface live online with an awesome teacher.
                            Enjoy programs created by other students, and work together to build a fun game of your own....
                        </p>
                        <a href="" class="btn btn-primary px-4 mx-auto my-2">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card border-0 shadow-sm mb-2">
                    <img class="card-img-top mb-2" src="img/python-programming-language.png" alt="" />
                    <div class="card-body bg-light text-center p-4">
                        <h4 class=""> Intro to Python Coding</h4>
                        <div class="d-flex justify-content-center mb-3">
                            <h3>Age:14-18</h3>
                        </div>
                        <p id="text">
                    
                            Python for AI class and gain experience in this essential
                            and it is also used for web development, game development, building apps, machine learning,
                             This live online class covers not only the basics of Python coding..
                           
                        </p>
                        <a href="" class="btn btn-primary px-4 mx-auto my-2">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
